<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:replace="fragments/header :: header"></head>

<body>

<div th:replace="fragments/menu :: menu"></div>

<div class="container">
  <div class="row py-2">
    <div class="col-12">
      <a class="btn btn-primary" th:href="@{categories/edit/form}">Add Category</a>
    </div>

    <div class="col-12 mt-3">
      <form th:action="@{/categories}" method="GET">
        <div class="input-group">
          <select class="form-control" name="sortBy" id="sortBy">
            <option th:value="id">order by id</option>
            <option th:value="title">order by title</option>
          </select>
          <select class="form-control" name="direction" id="direction">
            <option th:value="ASK">asc direction</option>
            <option th:value="DESC">desc direction</option>
          </select>
          <!--                    <input class="form-control" th:value="${param.sortBy}" name="sortBy" type="text"
                                     placeholder="sort by" id="sortBy"/>-->
        </div>
        <br>
        <button type="submit" class="btn btn-warning">Filter</button>
      </form>
    </div>

    <div class="col-12">
      <table class="table table-bordered my-2">
        <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Title</th>
          <th sec:authorize="hasAnyRole('MANAGER', 'ADMIN', 'SUPERADMIN')" scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="category : ${categories.content}">
          <th scope="row" th:text="${category.id}"></th>
          <td th:text="${category.title}">Title</td>
          <td sec:authorize="hasAnyRole('MANAGER', 'ADMIN')">
            <a class="btn btn-success" th:href="@{/categories/edit/{id}(id = ${category.id})}"><i
                class="fas fa-edit"></i></a>
            <a class="btn btn-danger"
               th:href="@{/categories/edit/delete/{id}(id = ${category.id})}"><i
                class="far fa-trash-alt"></i></a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-12">
    <nav aria-label="...">
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link"
             th:if="${categories.hasPrevious()}"
             th:href="@{categories(page=${categories.previousOrFirstPageable().getPageNumber() + 1},
                       size=${categories.size}, sortBy=${sortBy}, direction=${direction})}"
             tabindex="-1">Previous</a>
        </li>
        <li th:each="num: ${#numbers.sequence(1, categories.totalPages)}"
            class="page-item" th:classappend="${num == categories.number + 1} ? 'active'">
          <a class="page-link" th:text="${num}"
             th:href="@{categories(page=${num}, size=${categories.size}, sortBy=${sortBy}, direction=${direction})}"></a>
        </li>
        <li class="page-item">
          <a class="page-link"
             th:if="${categories.hasNext()}"
             th:href="@{categories(page=${categories.nextOrLastPageable().getPageNumber() + 1},
                       size=${categories.size}, sortBy=${sortBy}, direction=${direction})}">Next</a>
        </li>
      </ul>
    </nav>
  </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>