<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:replace="fragments/header :: header"></head>

<body>

<div th:replace="fragments/menu :: menu"></div>

<div class="container">
  <div class="row py-2">
    <div class="col-12">
      <form th:action="@{/products/edit/update}" method="post" th:object="${product}"
            enctype="multipart/form-data">
        <div class="form-group">
          <label>Id</label>
          <input th:type="hidden" th:field="*{id}">
          <label>Title</label>
          <input type="text" class="form-control" th:field="*{title}" placeholder="Enter title">
          <label>Cost</label>
          <input type="number" class="form-control" th:field="*{price}" placeholder="Enter price">
          <label>Brand</label>
          <select th:field="*{brand}" class="form-control">
            <option th:each="b : ${brands}" th:text="${b.title}" th:value="${b.id}"/>
          </select>
          <label>Category</label>
          <select th:field="*{category}" class="form-control">
            <option th:each="c : ${categories}" th:text="${c.title}" th:value="${c.id}"/>
          </select>
          <label>Product image</label>
          <input type="file" class="form-control" placeholder="upload picture"
                 th:field="*{newPictures}" multiple>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

      <div class="container-fluid mb-4">
        <div class="card-columns" style="column-count: 5">
          <div class="card" th:each="pict : ${product.pictures}">
            <div class="card-header" >Picture</div>
            <a th:href="@{/picture/{pictureId}(pictureId=${pict.id})}">
              <img class="card-img-bottom" th:src="@{/picture/{pictureId}(pictureId=${pict.id})}"
                   width="40%"/>
            </a>
            <a class="card-header" th:href="@{/picture/delete/{pictureId}(pictureId=${pict.id})}">Delete</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div th:replace="fragments/footer :: footer"></div>

</body>