<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:replace="fragments/header :: header"></head>

<body>

<div th:replace="fragments/menu :: menu"></div>

<div class="container">
  <div class="row py-2">
    <div class="col-12">
      <form th:action="@{/users/edit/update}" method="post" th:object="${user}">
        <input th:type="hidden" th:field="*{id}">
        <div class="form-group">
          <div>
            <label>Login</label>
            <input type="text" class="form-control" th:field="*{login}" placeholder="Enter login"
                   required minlength="5" maxlength="20">
          </div>
          <div>
            <label>Password</label>
            <input type="password" class="form-control" th:field="*{password}"
                   placeholder="Enter password"
                   required minlength="5" maxlength="20">
            <label>Confirm password</label>
            <input type="password" class="form-control" th:field="*{confirmPassword}"
                   placeholder="Confirm password"
                   required minlength="5" maxlength="20">
            <label th:if="${pasMismatchErr != null}" th:text="${pasMismatchErr}"></label>
          </div>
          <div>
            <label>Roles</label>
            <div th:each="r : ${roles}">
              <input type="checkbox" th:field="*{roles}" th:value="${r.id}"/>
              <label th:for="${#ids.prev('roles')}" th:text="${r.name}"></label>
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>

<div th:replace="fragments/footer :: footer"></div>

</body>